{% extends "layout.html" %}
{% load static %}
{% block body%}

<!-- slider section -->
<link href="./static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<head>
  <meta charset="utf-8">
  <title>Anasayfa</title>
</head>
<div class="bgded" style="background-image:url('./static/images/deepImage.png'); height:500px; width:94%;">
  <div id="pageintro" class="hoc clear">
<!-- ################################################################################################ -->
  <article style="height:230px;width:500px;color:white;">
    <h3 class="heading" style="color:#000000">Vestibulum vehicula egestas</h3>
    <p style="color:#000000"><b>Rhoncus a odio fusce eu lorem vehicula euismod mauris eget sodales mi duis habitant morbi tristique senectus et netus et malesuada fames.</b></p>

  </article>
<!-- ################################################################################################ -->
  </div>
</div>
			<!-- end slider section -->
<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/jquery.backtotop.js"></script>
<script src="./static/js/jquery.mobilemenu.js"></script>
{% endblock body %}
